<div class="block-plan container">
  <div class="plan">
    <div class="card-secondary">
      <div class="card-header">
        <div class="card-name">
          <p>عادی</p>
          <button class="badge badge-secondary">10% Off</button>
        </div>
        <div class="plan-price">
          <span class="card-bill">290,0000</span>
          <span>ماهانه / تومان</span>
        </div>
        <div>سرویس های ماشین معمولی</div>
      </div>
      <div class="card-body">
        <ul class="list list--tick">
          <li class="list__item">کیفیت افتضاح</li>
          <li class="list__item">چهار چرخ دارد</li>
          <li class="list__item">راننده بداخلاق</li>
          <li class="list__item">ماشین بی کیفیت</li>
          <button class="btn btn-secondary btn-block">ثبت سفارش</button>
        </ul>
      </div>
    </div>
  </div>

  <div class="plan plan-popular">
    <div class="card-primary">
      <div class="card-header">
        <div class="card-name">
          <p>عادی</p>
          <button class="badge badge-primary">15% Off</button>
        </div>
        <div class="plan-price">
          <span class="card-bill">390,0000</span>
          <span>ماهانه / تومان</span>
        </div>
        <div>سرویس های ماشین کلاسیک</div>
      </div>
    </div>
    <div class="card-body">
      <ul class="list list--tick">
        <li class="list__item">کیفیت عالی</li>
        <li class="list__item">کم سروصدا</li>
        <li class="list__item">زمان محدود</li>
        <li class="list__item">سرویس روزانه</li>
        <button class="btn btn--primary btn-block">ثبت سفارش</button>
      </ul>
    </div>
  </div>
  <div class="plan">
    <div class="card-secondary">
      <div class="card-header">
        <div class="card-name">
          <p>عادی</p>
          <button class="badge badge-secondary">20% Off</button>
        </div>
        <div class="plan-price">
          <span class="card-bill">490,0000</span>
          <span>ماهانه / تومان</span>
        </div>
        <div>سرویس های ماشین معمولی</div>
      </div>
      <div class="card-body">
        <ul class="list list--tick">
          <li class="list__item">کیفیت خیلی خفن</li>
          <li class="list__item">بی سرو صدا</li>
          <li class="list__item">زمان نامحدود</li>
          <li class="list__item">سرویس نامحدود</li>
          <button class="btn btn-secondary btn-block">ثبت سفارش</button>
        </ul>
      </div>
    </div>
  </div>
</div>
